.game-dart-container{
  /* height: 100%; */
  top: 0;
  position:fixed;
  padding:0;
  margin:0;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background-attachment: fixed;
}

.game-dart-container h1 {
  font-size: 2.5em;
  position: fixed;
  width: 100%;
  top: 45px;
  text-align: center;
  font-family: 'Rajdhani', sans-serif;
  animation: fadeIn 1.2s;
  -webkit-animation: fadeIn 1.2s;
  -moz-animation: fadeIn 1.2s;
  -o-animation: fadeIn 1.2s;
  -ms-animation: fadeIn 1.2s;
}

.genres-container { 
  font-size: clamp(2vw, 50%, 30px);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  top: 111px;
  position: fixed;
  margin: auto;
  width: 100%;
  animation: fadeIn 1.2s;
  -webkit-animation: fadeIn 1.2s;
  -moz-animation: fadeIn 1.2s;
  -o-animation: fadeIn 1.2s;
  -ms-animation: fadeIn 1.2s;
  /* display: grid; */
  /* margin-top: 100px; */
}  

.genre-item{
  cursor: pointer;
  outline: 1.8px solid rgb(54, 54, 56);
  box-shadow: rgba(0, 0, 0, 0.69) 0px 26px 30px -10px, rgba(0, 0, 0, 0.73) 0px 16px 10px -10px;
  outline-offset: -3.5px;
  position: relative;
  /* width: calc(100%/5 - 17px); */
  height: 25.5vh;
  border-radius: 12px;
  /* overflow: hidden; */
  background: linear-gradient(rgba(17, 17, 19, 0.445), rgba(10, 10, 1, 0.801));
  transition: all 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s !important;
  /* text-align: center; */
  font-family: 'Rajdhani', sans-serif;
  color: rgb(255, 255, 255);
} 

.genre-item h2 {
  font-size: 1.2em;
  text-align: center;
  line-height: 25.5vh;
}

.genre-item:hover {
  transform: scale(1.08);
  /* background: linear-gradient(rgb(58, 60, 74), rgb(36, 38, 50)); */
  cursor: pointer;
  /* overflow:hidden; */
  color: rgba(214, 214, 214, 0.308);
  outline: 1.9px solid rgb(224, 224, 224);
}

#Racing:hover {
  background: url('https://media1.giphy.com/media/pBrRTmxSZEuAxsxr5S/giphy.gif?cid=ecf05e47uwzyn5qm7jgt8wayiy64kcr4guet2pmi03katozy&rid=giphy.gif&ct=g');
  background-size: cover;
  background-origin: content-box;
  max-width: 100%;
  /* background-size: initial; */
  background-position: bottom;
  /* max-height: 100%; */
}

#Action-Adventure:hover {
  background: url('https://media0.giphy.com/media/CcVJXCyy8RGt5fuvfW/giphy.gif?cid=790b7611d3b1ee12634c97076e0cfad4e6e7b1d0016ba262&rid=giphy.gif&ct=g');
  background-size: cover;
  background-origin: content-box;
  max-width: 100%;
  background-position: center;
  max-height: 100%;
}

#Strategy:hover {
  background: url('https://media4.giphy.com/media/3oz8xOuH805dxrWXeM/giphy.gif?cid=ecf05e47vgw705y8irsyaee14w2kcongpjm6oxebzu2t1r9q&rid=giphy.gif&ct=g');
  background-size: cover;
  background-origin: content-box;
  max-width: 100%;
  background-position: bottom;
  max-height: 100%;
}

#Sports:hover {
  background: url('https://media0.giphy.com/media/LoNmHl0T86odok7WrT/giphy.gif?cid=790b76111b42557a523c1e43f17a14f3ccf507ce56e9774d&rid=giphy.gif&ct=g');
  background-size: cover;
  background-origin: content-box;
  max-width: 100%;
  background-position: center;
  max-height: 100%;
}

#Role-Playing:hover {
  background: url('https://media1.giphy.com/media/UvQ2W4OYg3EKahV5Xe/giphy.gif?cid=ecf05e47pij0xkjkzlnn0vraqienq28a222t8yalsjdhm7n8&rid=giphy.gif&ct=g');
  background-size: cover;
  background-origin: content-box;
  max-width: 100%;
  background-position: bottom;
  max-height: 100%;
}

#Fighting:hover {
  background: url('https://media4.giphy.com/media/3o7TKWMhT3zFroHiG4/giphy.gif?cid=ecf05e472nqgdoe01vflj6ff40i4pkzy3rk9pcv4l2sjst1r&rid=giphy.gif&ct=g');
  background-size: cover;
  background-origin: content-box;
  max-width: 100%;
  background-position: bottom;
  max-height: 100%;
}

#Arcade:hover {
  background: url('https://media4.giphy.com/media/jxJjBMvqEvMSA/giphy.gif?cid=ecf05e47e1b4c4i1iu1cf0ldk639uxnmx2ll3vb03vswibre&rid=giphy.gif&ct=g');
  background-size: cover;
  background-origin: content-box;
  background-attachment: fixed;
  max-width: 100%;
  background-position: center;
  max-height: 100%;
}

#Shooter:hover {
  background: url('https://media1.giphy.com/media/wZxBN1eczhF3F3KAhN/giphy.gif?cid=790b7611e1c40195029ac0bd4252b5e87b06405c3d5fbaec&rid=giphy.gif&ct=g');
  background-size: cover;
  background-origin: content-box;
  max-width: 100%;
  background-position: bottom;
  max-height: 100%;
}

#Music:hover {
  background: url('https://media4.giphy.com/media/EZzEowR6atOVO/giphy.gif?cid=ecf05e47qawj6wxrwzcjinlvomfnrhlqypvxnu30qye9zvpk&rid=giphy.gif&ct=g');
  background-size: cover;
  background-origin: content-box;
  max-width: 100%;
  background-position: bottom;
  max-height: 100%;
}

#Party:hover {
  background: url('https://media3.giphy.com/media/FD5yuIfD3OnzMqzwR0/giphy.gif?cid=ecf05e470cewad6v74jtqgoa17a6fqj5hihxq51s3wawyxbd&rid=giphy.gif&ct=g');
  background-size: cover;
  background-origin: content-box;
  max-width: 100%;
  background-position: bottom;
  max-height: 100%;
}

#Simulation:hover {
  background: url('https://media0.giphy.com/media/y3OGyysu7zaeKh8e3X/giphy.gif?cid=790b76115c07e619b13441ce9ee28adb1a31e6b3e9e252a1&rid=giphy.gif&ct=g');
  background-size: cover;
  background-origin: content-box;
  max-width: 100%;
  background-position: center;
  max-height: 100%;
}

#Puzzle:hover {
  background: url('https://media2.giphy.com/media/HyvnMHUEOSY8M/giphy.gif?cid=790b7611867a6424046f9ff4dc69ea504330b2aff0bd54ae&rid=giphy.gif&ct=g');
  background-size: cover;
  background-origin: content-box;
  max-width: 100%;
  background-position: center;
  max-height: 100%;
}

.games-per-genre {
  font-size: 30px;
  top: 50px;
  /* position: relative; */
  /* margin: auto; */
  /* width: 100%; */
  /* overflow: visible; */
}

.games-per-genre p {
  font-size: 0.55em;
  position: relative;
  top: 12px;
  bottom: inherit;
  right: 11px;
  color: rgba(128, 128, 128, 0.473);
  transition: all 0.4s ease 0s;
}

.games-per-genre p:hover {
  color: white;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.genre-game {
  width: clamp(200px, 20vw, 20vw);
  /* height: auto; */
  transition: all 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s !important;
  opacity: 0.6;
}

.genre-game img{
  width:100%;
}

.genre-game img:hover {
  cursor: pointer;
}

.genre-game:hover {
  opacity: 1;
  /* transform: scale(1.08); */
}

.genre-game:hover > #view-game-page {
  /* transform: scale(1.08); */
  opacity: 1;
}

.chosen.genre-game {
  opacity: 1;
}

.genre-game > .select-game-image {
  transition: all 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s !important;
  padding-right: 6px;
  padding-left: 6px;
}

.chosen.genre-game > .select-game-image img {
  transition: all 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s !important;
  transform: translate(0px, -30px);
  border: 8px ridge rgb(136, 59, 236);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* .chose.genre-game > .select-game-image img { */
  /* border: 8px ridge rgb(136, 59, 236);
} */

.select-game-image img {
  box-shadow: rgba(0, 0, 0, 0.69) 0px 26px 30px -10px, rgba(0, 0, 0, 0.73) 0px 16px 10px -10px;
  transition: all 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s !important;
  overflow: visible;
}


.select-game-image:hover {
  transform: translate(0px, -30px);
  transform: scale(1.08);
}

/* .genre-game-index {
  margin-top: 10vh;
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
    animation: fadeIn linear 1.5s;
  -webkit-animation: fadeIn linear 1.5s;
  -moz-animation: fadeIn linear 1.5s;
  -o-animation: fadeIn linear 1.5s;
  -ms-animation: fadeIn linear 1.5s;
} */


input[type="checkbox"] {
  display: none;
}

/* input[type="checkbox"]:checked {
  display: block;
  opacity: 1;
} */

.game-checkbox {
  display: flex;
  justify-content: center;
}

.select-games-form {
  /* margin-top: 0.2vh;
  height: 69vh; */
  /* overflow: visible; */
  /* margin: auto; */
  /* position: fixed; */
  animation: fadeIn linear 1.2s;
  -webkit-animation: fadeIn linear 1.2s;
  -moz-animation: fadeIn linear 1.2s;
  -o-animation: fadeIn linear 1.2s;
  -ms-animation: fadeIn linear 1.2s;
  /* left: 50px; */
}

.submit-select-button {
  color: white;
  position: fixed;
  bottom: 50px;
  left: 50%;
  margin: 0;
  transform: translate(-50%, 50%);
  font-weight: 600;
  border-style: none;
}

.submit-select-button input {
  padding: 8px 30px;
  border-radius: 8px;
  border-color: transparent;
  color: white;
  font-size: 28px;
  font-weight: 600;
}

#game-dart-button {
  background-color: rgb(230, 50, 50);
  /* margin-bottom: -10px; */
  transition: all 0.4s ease 0s;
  /* transform: translate(-50%, 20%); */
  position: relative;
  /* margin-left: 24px; */
  /* top: 5; */
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.69) 0px 26px 30px -10px, rgba(0, 0, 0, 0.73) 0px 16px 10px -10px;
  /* top: 63vh; */
}

#game-dart-button:hover {
  cursor: pointer;
  background-color: rgb(248, 72, 72);
  transition: all 0.4s ease 0s;
}

#back-to-genres {
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 50px;
  width: 100%;
  z-index: 7;
}

#back-to-genres-button {
  cursor: pointer;
  /* position: fixed; */
  margin-left: 15px;
  font-size: 1.7em;
  color: rgba(112, 112, 112, 0.247);
  transition: all 0.4s ease 0s; 
}

#back-to-genres-button:hover {
  cursor: pointer;
  /* transform: scale(1.7); */
  color:rgb(255, 255, 255);
}

#return-to-genres-text {
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 25px;
  color:rgb(128, 128, 128)
}

.genre-row {
  position: absolute;
  top: clamp(24vh, 12vw, 129px);
  display: flex;
  width: max-content;
  transition: all 1.4s;
}

.game-scroll-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 50%;
  width: 100%;
  z-index: 5;
}

.left-arrow {
  position: fixed;
  left: 10px;  
  font-size: 1.8em;
  color: rgba(0, 0, 0, 0.473);
  cursor: pointer;
  transition: all 0.3s;
}

.right-arrow {
  position: fixed;
  right: 10px;
  font-size: 1.8em;
  color: rgba(0, 0, 0, 0.473);
  cursor: pointer;
  transition: all 0.3s;
}

/* .right-arrow {
  top: 50%;
  margin-left: 96vw;
  font-size: 1.8em;
  color: rgba(128, 127, 127, 0.151);
  position: fixed;
  z-index: 1;
  cursor: pointer;
  transition: all 0.3s;
} */

.left-arrow:hover {
  color: white;
}

.right-arrow:hover {
  color: white;
}

#view-game-page {
  position: relative;
  bottom: 80px;
  left: 63px;
  /* text-align: center; */
  /* width: 100%; */
  font-size: 15px;
  color: rgba(104, 103, 103, 0.007);
  transition: 0.4s ease 0s;
  padding: 20px;
}

#view-game-page:hover {
  opacity: 1;
  color: #09ff00;
}


@media (max-width: 813px) {
  .game-dart-container h1 {
    font-size: clamp(38px, 50%, 9vw);
  }

  .game-dart-container {
    background-attachment: fixed;
  }

  #select-genre {
    position: relative;
  }

  #select-games {
    position: fixed;
  }

  .genres-container {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 34px;
    font-size: 30px;
    /* height: 100vh; */
    /* width: 95%; */
    overflow-x: hidden;
    padding: 4px;
  }

  .genre-item {
    box-shadow: rgba(0, 0, 0, 0) 0px 26px 30px -10px, rgba(0, 0, 0, 0.884) 0px 16px 10px -10px;
    margin-bottom: -5px;
  }

  .genre-item h2 {
    font-size: clamp(25px, 50%, 60px);
  }

  .genre-game-index {
    position: relative;
    top: 5px;
  }

  .genre-item:hover {
    transform: scale(1);
  }
}

@media (max-width: 400px) {
  .genre-item {
    border-radius: 0px;
  }

  .game-dart-container {
    background-attachment: fixed;
  }
}

@media (max-width: 777px) {
  .game-dart-container {
    background-attachment: fixed;
  }

  .genre-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: aboslute;
    top: 80px;
    left: 0%;
    padding-right: 5vw;
    padding-left: 5vw;
  }

  .select-games-form {
    display: flex;
    justify-content: center;
    position: relative;
    top: 7vh;
  }

  .genre-game {
    width: clamp(42vh, 30vw, 30vw);
    overflow-y: hidden;
    box-shadow: rgba(0, 0, 0, 0) 0px 26px 30px -10px, rgba(0, 0, 0, 0) 0px 16px 10px -10px;
  }

  .left-arrow, .right-arrow {
    opacity: 0;
    position: relative;
    top: 1000000px;
  }

  #back-to-genres {
    opacity: 0;
  }

  .select-game-image:hover {
    transform: translate(0px, 0px);
    transform: scale(1);
  }

  .chosen.genre-game > .select-game-image img {
    transform: translate(0px, 0px);
  }

  .select-game-image img {
    box-shadow: rgba(0, 0, 0, 0) 0px 26px 30px -10px, rgba(0, 0, 0, 0) 0px 16px 10px -10px;
  }
}

@media (max-height: 380px) {
  .genre-game {
    width: clamp(1px, 25vw, 25vw);
    overflow-y: hidden;
    box-shadow: rgba(0, 0, 0, 0) 0px 26px 30px -10px, rgba(0, 0, 0, 0) 0px 16px 10px -10px;
  }

  .genre-row {
    overflow-x: scroll;
  }

  .submit-select-button {
    color: white;
    position: fixed;
    bottom: 50px;
    left: 50%;
    margin: 0;
    transform: translate(-50%, 50%);
    font-weight: 600;
    border-style: none;
  }

  .submit-select-button input {
    padding: 8px 30px;
    border-radius: 8px;
    border-color: transparent;
    color: white;
    font-size: 18px;
    font-weight: 600;
  }

  .left-arrow, .right-arrow {
    opacity: 0;
    position:relative;
    top: 10000px;
  }

  #back-to-genres p {
    opacity: 0;
  }

  .chosen.genre-game > .select-game-image img {
    transform: translate(0px, 0px);
  }

  .select-game-image:hover {
    transform: translate(0px, 0px);
    transform: scale(1);
  }

  .select-game-image img {
    box-shadow: rgba(0, 0, 0, 0) 0px 26px 30px -10px, rgba(0, 0, 0, 0) 0px 16px 10px -10px;
  }
} 