.game-dart-container{
  background-image: url('https://i.imgur.com/tjz5Xcd.jpeg');
  background-size: cover;
  background-position: bottom;
  height: 100vh;
}

.game-dart-container{
  margin-top: 50px;
}

.genres-container{
  margin-top: 50px;
}

.genre-item{
  cursor: pointer;
}