.NavBar {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-color: rgb(61, 61, 61);
  height: 40px;
  width: 100%;
  box-shadow: 0 1px 40px 3px rgb(14, 14, 14);
  padding-right: 20px;
}

.NavBar button {
  height: 20px;
}

.NavBar a {
  padding: 2px 20px;
  margin: 0 max(0.4vw, 25px);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  background-color: black;
  transition: 0.3s;
}

.NavBar a:hover{
  background-color: rgb(109, 109, 109);
}