.NavBar {
  position: fixed;
  display: flex;
  padding: 0 20px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(61, 61, 61);
  height: 40px;
  width: 100%;
  box-shadow: 0 1px 40px 3px rgb(14, 14, 14);
  padding-right: 20px;
  font-family: 'Rajdhani', sans-serif;
  z-index: 3;
}

/* .NavBar button {
  height: 20px; 
} */

#nav-logo img {
  width: 200px;
  margin-left: 5vw;
}

.NavBar a {
  padding: 2px 20px;
  /* margin: 0 max(0.4vw, 25px); */
  color: white;
  text-decoration: none;
  /* border-radius: 5px; */
  width: 100%;
  /* background-color: black; */
  /* transition: 0.3s; */
  font-size: 24px;
}

.NavBar a:hover{
  background-color: rgb(109, 109, 109);
}


.dropdown-menu {
  top: 40px;
  right: 20px;
  width: 250px;
  background-color: rgb(61, 61, 61);
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  transition: 0.9s;
  border-radius: 0px 0px 8px 8px;
}

#sandwich-icon {
  display: inline-block;
  cursor: pointer;
  z-index: 3;
}

#sandwich-icon.change {
  margin-bottom: 5px;
}

#bar1, #bar2, #bar3 {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change #bar1 {
  -webkit-transform: rotate(-45deg) translate(-10px, 9px) ;
  transform: rotate(-45deg) translate(-10px, 9px) ;
}

/* Fade out the second bar */
.change #bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change #bar3 {
  -webkit-transform: rotate(45deg) translate(-3px, -3px) ;
  transform: rotate(45deg) translate(-3px, -3px) ;
}

#side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow: scroll;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
}

#user-menu {
  font-size: clamp(15px, 1.8vw, 1.8vw);
  cursor: pointer;
  padding: 0 20px;
}