.edit-modal {
  max-height: calc(100vh - 30px);
  overflow-y: auto;
  position: relative;
  padding: 10px 20px;
  border-radius: 6px;
  margin: 0 auto;
  width: 49vw;
  height: auto;
  background-color: rgb(61, 61, 61);
  box-shadow: 0 1px 40px 3px rgb(14, 14, 14);
}

#edit-header {
  margin-top: 10px;
  margin-bottom: -12px;
  font-family: 'Rajdhani', sans-serif;
  text-align: center;
  font-size: clamp(12px, 21px, 23px);
}

input[type=radio]{
  display: none;
}

input[type=radio]:checked + label{
  border-color: red;
  border-style: solid;
  display: inline-block;
}

#avi-box{
  /* margin-top: -30px; */
  width: 80%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.image-radio + label{
  width: 6vw;
  height: 6vw;
  margin: 0.3vw;
  background-size: contain;
  display: inline-block;
  background-repeat: no-repeat;
}

@media (max-height: 500px) {
  .image-radio + label {
    width: 12vw;
    height: 12vw;
  }

  #avi-box {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }

  .edit-modal {
    width: 90vw;
    height: 80vh;
  }
}

@media (max-width: 800px) {
  .image-radio + label {
    width: 27vw;
    height: 27vw;
    margin: 3px;
  }

  .edit-modal {
    width: 90vw;
  }

  #avi-box {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .login-form input {
    font-size: 18px;
  }
}

.login-box p {
  text-align: center;
  position: relative;
  top: 10px;
  font-family: 'Rajdhani', sans-serif;
  font-size: clamp(20px, 3v);
}

#avi-akali + label{
  background-image: url('https://i.imgur.com/gzZ9eH7.jpg');
}

#avi-akuma + label{
  background-image: url('https://i.imgur.com/beL8b4v.jpg');
}

#avi-dmc + label{
  background-image: url('https://i.imgur.com/xkeGEJT.png');
}

#avi-karin + label{
  background-image: url('https://i.imgur.com/tIO5OeK.jpg');
}

#avi-keanu + label{
  background-image: url('https://i.imgur.com/DaAEwvQ.jpg');
}

#avi-lara + label{
  background-image: url('https://i.imgur.com/ktarjMI.jpg');
}

#avi-miku + label{
  background-image: url('https://i.imgur.com/TgO2Eqb.jpg');
}

#avi-rindou + label{
  background-image: url('https://i.imgur.com/Ta37y5u.png');
}

#avi-shyguy + label{
  background-image: url('https://i.imgur.com/7nNsCKi.jpg');
}

#avi-peach + label{
  background-image: url('https://i.imgur.com/fPM0ab5.png');
}

#avi-spidey + label{
  background-image: url('https://i.imgur.com/kNuWjTs.jpg');
}

#avi-cj + label{
  background-image: url('https://i.imgur.com/fJhgSro.jpg');
}

#avi-chief + label{
  background-image: url('https://i.imgur.com/5vM7wn5.jpg');
}

#avi-chunli + label{
  background-image: url('https://i.imgur.com/YBluko7.jpg');
}

#avi-sora + label{
  background-image: url('https://i.imgur.com/q9r7Thq.png');
}

#avi-tifa + label{
  background-image: url('https://i.imgur.com/iEs6nvG.jpg');
}

#avi-samus + label{
  background-image: url('https://i.imgur.com/ofMRQhY.png');
}

#avi-ezio + label{
  background-image: url('https://i.imgur.com/lT8SIAO.jpg');
}

#avi-fortnite + label{
  background-image: url('https://i.imgur.com/oPG6WtS.jpg');
}

#avi-kratos + label{
  background-image: url('https://i.imgur.com/aEeE4Jb.jpg');
}

#avi-default + label{
  background-image: url('https://ubisoft-avatars.akamaized.net/46564bd6-ef0b-4b05-97ec-68d8473167c6/default_256_256.png');
}