.selected-games-container {
  animation: fadeIn 1.2s;
  -webkit-animation: fadeIn 1.2s;
  -moz-animation: fadeIn 1.2s;
  -o-animation: fadeIn 1.2s;
  -ms-animation: fadeIn 1.2s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.selected-games-container {
  width: 350px;
  position: absolute;
  transition: 0.3s;
}

.selected-games-container h1{
  text-align: center;
  font-family: 'Rajdhani', sans-serif;
  font-size: 40px;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.767);
}

.setting-button {
  width: 200px;
  position: absolute;
  top: 55px;
  left: 45px;
  cursor: pointer;
  transition: 0.5s;
}

.setting-button-open {
  height: 22px;
  top: 100%;
  transform: rotate(180deg);
}

.backlog-container, .played-games-container {
  display: flex;
  flex-direction: column;
  top: 100px;
  margin: 0 auto;
  width: 658px;
  padding-bottom: -26px;
}

.played-games-container img {
  object-position: center;
}

.backlogGame-item {
  position: relative;
  height: 110px;
  border-radius: 15px;
  padding: 20px;
  margin: 10px;
  text-align: center;
  overflow: hidden;
  outline: 2px solid rgb(136, 136, 136);
  outline-offset: -6px;
  cursor: pointer;
  transition: 0.5s;
}

.backlogGame-item:hover {
  outline: 2px solid rgb(255, 255, 255);
}

.backlogGame-item-open {
  height: 250px !important;
  transition: 0.5s;
}

.backlogGame-item img {
  top: 0;
  left: 0;
  position: absolute;
  z-index: 0;
  opacity: 0.8;
}


.backlogGame-title {
  /* width: 403px; */
  text-align: center;
  font-family: 'Rajdhani', sans-serif;
  font-size: 20px;
  text-shadow: 0 0 15px rgb(0, 0, 0);
  position: relative;
  top: 13.5px;
  cursor: pointer;
}

.backlog-container h1 {
  text-align: center;
  position: relative;
}

.backlogGame-options {
  z-index: 2;
  position: relative;
  bottom: -9px;
  text-align: center;
  display: block;
}

.backlogGame-buttons {
  padding-top: 56px;
  padding-bottom: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backlogGame-buttons button{
  border: none;
  color: white;
  border-radius: 5px;
  padding: 5px;
  margin: 3px 3px;
  box-shadow: rgba(0, 0, 0, 0.69) 0px 26px 30px -10px, rgba(48, 48, 48, 0.185) 0px 16px 10px -10px;
  transition: all 0.4s ease 0s;
  z-index: 2;
}

.add-to-played, .remove-game, .remove-from-played {
  background-color: rgb(218, 9, 9);
}

.add-to-played:hover, .remove-game:hover, .remove-from-played:hover{
  border: none;
  background-color: rgb(233, 59, 59);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.view-game-button {
  border: none;
  background-color: rgb(83, 0, 216);
  color: white;
  border-radius: 5px;
}

.view-game-button:hover {
  background-color: rgb(111, 0, 255);
  cursor: pointer;
}

.selected-games-container span {
  position: relative;
  top: 40px;
  left: 10px;
  font-size: 3.3em;
  color:rgba(255, 255, 255, 0.575);
  transition: all 0.5s ease 0s;
}

.selected-games-container span:hover {
  color:rgba(255, 255, 255, 0.932);
}

.tab-list {  
  border-bottom: 1px solid #ccc;
  display:flex;
  flex-direction: row;
  position: sticky;
  padding-left: 0px;
  z-index: 3;
  top: 0px;
  padding-top: 40px;
  height: 80px;
  margin-top: 0;
  background-color: black;
  text-align: center;
}

.tab-list-item {
  width: 175px;
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}

.tab-list-item:hover {
  cursor: pointer;
}

.tab-list-active {
  background-color: rgb(61, 61, 61);
  border: solid rgb(61, 61, 61);
  border-width: 1px 1px 0 1px;
}

#no-games {
  filter: invert(1);
  opacity: 0.85;
  border-radius: 10px;
}

.tab-content p {
  position: relative;
  text-align: center;
  padding: 8px;
  margin-bottom: -14px;
  color: rgba(151, 150, 150, 0.966);
}

.tab-content {
  margin-bottom: 38px;
}

#no-games {
  width: 350px;
}