.plugs {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  animation: fadeIn 1.2s;
  -webkit-animation: fadeIn 1.2s;
  -moz-animation: fadeIn 1.2s;
  -o-animation: fadeIn 1.2s;
  -ms-animation: fadeIn 1.2s;
  min-height: 100%;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.plugs h1 {
  text-align: center;
  position: relative;
  top: 10vh;
  font-family: 'Rajdhani', sans-serif;
  font-size: 54px;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.767);
}

.the-gang {
  position: relative;
  gap: 5px;
  top: 12vh;
  display: flex;
  justify-content: space-evenly;
}

@media (max-width: 980px) {
  .plugs {
    overflow: visible scroll;
    max-height: calc(100vh - 1px);
  }

  .the-gang {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 25px auto;
    gap: 50px;
  }

  .developer-photo {
    margin: 0px;
  }

  #photo {
    display: flex;
    justify-content: center;
  }

  .website-links img {
    margin: 2px;
  }
}

.developer-photo {
  /* opacity: 0.75; */
  width: clamp(315px, 20vw, 20vw);
  border-radius: 14px;
  box-shadow: rgba(0, 0, 0, 0.69) 0px 26px 30px -10px, rgba(0, 0, 0, 0.425) 0px 16px 10px -10px;
}


.developers:hover {   
  transform: scale(1.11);
}

.developers {
  transition: all 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s !important;
  border-radius: 10px;
  text-align: center;
  align-items: center;
}

.developers:hover img {
  cursor: pointer;
  opacity: 1;
}

.developers h2 {
  font-family: 'Rajdhani', sans-serif;
  font-size: clamp(43px, 1vw, 3vw);
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.767);
}

.developers p {
  background: rgb(25, 23, 92);
  font-size: 20px;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.767);
  text-decoration: none;
  padding: 3px;
  border-radius: 6px;
  width: 222px;
  position: relative;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.69) 0px 26px 30px -10px, rgba(0, 0, 0, 0.425) 0px 16px 10px -10px;
}

.developers:hover p {
  cursor: pointer;
}

a:link {
  color: white;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: white;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: white;
  text-decoration: none;
  /* background: rgb(37, 56, 161); */
  /* padding: 7px; */
  border-radius: 6px;
  width: 250px;
  position: relative;
  margin: auto;
}

/* selected link */
a:active {
  color: white;
  text-decoration: none;
}

.extra-links {
  position: relative;
  text-align: center;
  top: 18vh;
  font-size: 17px;
}

.extra-links span {
  color:rgb(250, 94, 107);
}

.extra-links span:hover {
  text-decoration: underline;
  cursor: pointer;
}

.website-links {
  display: flex;
  flex-direction: row;
  grid-gap: 0.5vw;
  justify-content: center;
  gap: 0.5vw;
}

.website-links img {
  width: clamp(60px, 70px, 3.05vw);
  height: clamp(51px, 61px, 2.75vw);
  filter: drop-shadow(5px 3px 4px #000000c9);
  transition: all 0.3s ease 0s; 
}


.website-links img:hover {
  transform: scale(1.3);
}

.about:hover::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #f00;
  opacity: 0.7;
  mix-blend-mode: multiply;
}

.about:hover > * {
  color: rgb(129, 5, 5);
}